<h4 *ngFor="let item of arr">
    {{arr}}

</h4>
<h3>*ngFor="let item of arre" {{arre}}</h3>


<footer>
    <section class="iconos">
        <a href="https://www.facebook.com/Daniel.SedenoGarcia/">
            <img src="../../assets/iconFB.png" alt="enlace a facebook">
        </a>
        <a href="https://www.instagram.com/daniel_sedeno1914/?theme=dark">
            <img src="../../assets/iconIns.png" alt="enlace a instagram">
        </a>
        <a href="https://web.whatsapp.com/">
            <img src="../../assets/iconWS.png" alt="enlace a Whats app">
        </a>
        <a href="https://discord.gg/DK83nyqzAG">
            <img src="../../assets/iconDisc.png" alt="enlace a discord">
        </a>
        <a href="https://github.com/">
            <img src="../../assets/iconGit.png" alt="enlance a git">
        </a>

    </section>
</footer>
