.cajO{
    text-align: center;
    background-color: antiquewhite;
    color: blueviolet;
}
header h1{
    text-align: center;
    margin: 2rem;
    color: blue;
    
    background-color: azure;
}
.cajO h1{
    font-size: 60px;

}