<div class="infoPersonal">
    <div>
        <img src="../../assets/DaniWeb.jpg" alt="Foto de joven en un vitral">
    </div>
    <ul>Nombre: José Daniel</ul>
    <ul>Apellidos: Sedeño García</ul>
    <ul>Carrera: Sistemas computacionales</ul>
    <ul>Numero de control: 17091165</ul>
    <ul>Turno: Mixto</ul>
    <ul>Pasatiempo: Lolsito</ul>
    <ul>Horas de sueño promedio: 6.40hrs</ul>
</div>