.infoPersonal div img{
    width: 340px;
    height: 320px;
}
/* Para centrar lo que contiene el div hijo */
.infoPersonal div{
    text-align: center;
    margin:0px  auto;
    margin-top: 4rem;
}
/* Lista de informacion */
.infoPersonal ul{
    text-align: center;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* Para acortar una linea de codigo y acomodarla hay que pulsar alt + Z */
}